
@{
    ViewBag.Title = "QueryApprovalUser";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@using eContract.Common.Schema
@model eContract.Common.LigerGrid
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content c-edit-wrap">
                <form class="form-horizontal">
                    <input id="ContractApprovalStepId" name="ContractApprovalStepId" value="@ViewData["CONTRACT_APPROVAL_STEP_ID"]" hidden="hidden" />
                    <div class="form-group">
                        <div>
                            <label for="FERRERO_ENTITY" class="col-sm-4 control-label">
                                公司名称：
                            </label>
                            <div class="col-sm-8">
                                <input class="textinput form-control " type="text" validate="{required:true}" disabled value="@ViewData["COMPANY"]">
                            </div>
                        </div>
                        @*<div>
                            <label for="CONTRACT_GROUP" class="col-sm-1 control-label">
                                合同类型：
                            </label>
                            <div class="col-sm-3 controls ">
                                <input class="textinput form-control " type="text" validate="{required:true}" disabled value="@ViewData["CONTRACT_GROUP"]">
                            </div>
                        </div>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-body">
            @RenderPage("_ApprovalUserList.cshtml")
        </div>
    </div>
</div>

<div class="ibox-content c-edit-wrap">
    <form class="form-horizontal">
        @Html.XButtonList(new[] { new XButton { Id = "btnBack", DisplayName = "Back to list", Icon = "icon-back", LoadingText = "Returning....", xButtonType = XButtonType.Button, onClick = "hideModal();" } })
    </form>
</div>
    <script type="text/javascript">
        $(document)
           .ready(function () {
               var selData = [];
               jqGrid.initGrid($("#ApprovalUserGrid"),
               {
                   url: "@Url.Action("QueryApprovalUser")" + "?appSetid=" + $("#ContractApprovalStepId").val(),
                   sortname: "CUS.USER_ID",
                   multiselect: false,
                   colNames: ['审批部门', '部门别称', '审批用户（中）', '审批用户（英）','用户ID'],
                   colModel: [
                        { name: 'DEPT_NAME', index: 'DEPT_NAME', search: true },
                        { name: 'DEPT_ALIAS', index: 'DEPT_ALIAS', search: true },
                        { name: 'CHINESE_NAME', index: 'CHINESE_NAME', search: true },
                        { name: 'ENGLISH_NAME', index: 'ENGLISH_NAME', search: true },
                        { name: 'USER_ACCOUNT', index: 'USER_ACCOUNT', search: true },
                   ]
               });

           });
    </script>




