<!DOCTYPE html>
<html xml:lang="en">
@{
    string controller = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["controller"].ToString();
    string action = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["action"].ToString();
    string area = "home";
    if (ViewContext.RouteData.Route.GetRouteData(this.Context).DataTokens["area"] != null)
    {
        area = ViewContext.RouteData.Route.GetRouteData(this.Context).DataTokens["area"].ToString().ToLower();
    }
    string controllerNew = (!string.IsNullOrEmpty(area) ? area + "/" : "") + controller.ToLower();
    string controllerurl = controllerNew + "/" + action.ToLower();

    eContract.Common.WebUtils.MenuDataItem currentItem = null;
    eContract.Common.WebUtils.MenuDataItem currentCitem = null;//二级当前分类
    eContract.Common.WebUtils.MenuDataItem currentcCitem = null;//三级当前分类
    var IsFirst = false;
    var IsHome = false;
    if (ViewBag.IsHome != null && Convert.ToBoolean(ViewBag.IsHome))
    {
        IsHome = Convert.ToBoolean(ViewBag.IsHome);
    }
}
<head>
    <title>主数据管理系统</title>
        <link href="@Url.Content("~/favicon.ico")" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="@Url.Content("~/favicon.ico")" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="@Url.Content("~/favicon.ico")" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/ligerui/Aqua/css/ligerui-all.css")?v=@eContract.Common.ConfigHelper.Version" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/ligerui/Gray2014/css/all.css")?v=@eContract.Common.ConfigHelper.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")?v=@eContract.Common.ConfigHelper.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site201606fix.css")?v=@eContract.Common.ConfigHelper.Version" rel="stylesheet" type="text/css" />
    @RenderSection("header", false)
</head>

<body class="layout">
    @*<div class="layout-tools">
        <div class="defaultWidth">
            <div class="right">
                <ul>
                    <li><a href="#" target="_blank">物流商后台</a></li>
                </ul>
            </div>
            <div class="left">
                <ul>
                    <li>欢迎您，@(eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain != null ? eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain.CasUserEntity.ChineseName : "")&nbsp;&nbsp;<a href="@Url.Content("~/Admin/PersonalInfo")">修改密码</a>&nbsp;&nbsp;<a href="@Url.Content("~/account/LogOff")">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="layout-header">
        <div class="defaultWidth header clearfix">
            @*<div class="user-info">欢迎您：@(eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain != null ? eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain.CasUserEntity.ChineseName : "")&nbsp;&nbsp;<a href="@Url.Content("~/Admin/PersonalInfo")">[修改密码]</a>&nbsp;&nbsp;<a href="@Url.Content("~/account/LogOff")">[退出]</a></div>*@
            <div class="logo">
                <a href="http://www.comix.com.cn" target="_blank">
                    <img src="@Url.Content("~/Content/images/Logo3.png")" /> <span></span> <strong>费列罗集团</strong>
                </a>
            </div>
            <div class="header-info">
                <span class="welcome">欢迎您，@(eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain != null ? eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain.CasUserEntity.EnglishName : "")</span>
                <a href="@Url.Content("~/Admin/PersonalInfo")"><span class="changepwd">修改密码</span></a>
                <a href="@Url.Content("~/account/LogOff")"><span class="logout">退出</span></a>
            </div>
        </div>
    </div>
    <div class="layout-nav">
        <div class="defaultWidth clearfix">
            <ul>
             <li class="first "><a href="@Url.Content("~")" class="@(area.ToLower().Equals("home") ? "active" : "")">首页</a></li>
             @{
                 List<eContract.Common.WebUtils.MenuDataItem> lstItem = null;
                 if (eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain != null && eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain.MenuDataItems.Count > 0)
                 {
                     var i = 0;
                     lstItem = eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain.MenuDataItems.Where(x => x.Page.IsMenu == 1).ToList();
                     foreach (var item in lstItem)
                     {
                         i++;
                         bool flag = false;
                         if ((!string.IsNullOrEmpty(item.Page.PageUrl) && item.Page.PageUrl.ToLower().Equals(area)))
                         {
                             currentItem = item;
                             flag = true;
                         }
                         if (!string.IsNullOrEmpty(item.Page.PageUrl) && item.Page.PageUrl.ToLower() == "b2bsystem" && area == "b2csystem")
                         {
                             currentItem = item;
                             flag = true;
                         }
                        <li class=""><a class="@(flag ? "active" : "")" href="@(!string.IsNullOrEmpty(item.Page.PageUrl) ? Url.Content("~/" + item.Page.PageUrl) : "")">@item.Page.PageNameEn</a></li>
                     }
                 }
                }
             
            </ul>
        </div>
    </div>
    <div class="layout-main-body">
        <div class="layout-main-body">
            @RenderBody()
        </div>
    </div>
    <div class="layout-footer">
            <div class="layout-footer-Copyright">Copyright &copy; 2017 费列罗贸易(上海)有限公司 版权所有</div>
        </div>
</body>
<script src="@Url.Content("~/Scripts/jquery/jquery-1.3.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ligerui/ligerui.all.js")?v=@eContract.Common.ConfigHelper.Version" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/validate/jquery.validate.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("~/Scripts/validate/jquery.validate.Expand.js?v=" + eContract.Common.ConfigHelper.Version)" type="text/javascript"></script> 
<script src="@Url.Content("~/Scripts/validate/jquery.metadata.js?v=" + eContract.Common.ConfigHelper.Version)" type="text/javascript"></script>
        
<script src="@Url.Content("~/Scripts/validate/messages_cn.js?v=" + eContract.Common.ConfigHelper.Version)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery.Form.3.0.js")?v=@eContract.Common.ConfigHelper.Version" type="text/javascript"></script>
<script type="text/javascript">
    var BaseUrl="@Url.Content("~/")";
</script>
@if (!IsHome && IsFirst)
{
<script type="text/javascript">

    window.location.href = "@Url.Content("~/" + currentCitem.Page.PageUrl)";
</script>
}
    @RenderSection("footer", false)
    <script type="text/javascript">
        $(function () {
            $(".subtree li a").click(function (e) {
                var $this = $(this).parent();
                var $sub = $(this).parent().children(".tree");
                var $icon = $(this).find('.parMeunIcon');
                if ($(this).hasClass("subitem")) {
                    if (!$sub.hasClass("curr")) {
                        $sub.addClass("curr");
                        $this.children(".tree").slideDown("fast");
                        $icon.attr('style', '');
                    } else {
                        $sub.removeClass("curr");
                        $this.children(".tree").slideUp("fast");
                        $icon.attr('style', 'transform: rotate(-90deg);-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-o-transform: rotate(-90deg);');
                    }
                }
            });
        })
    </script>
</html>
