
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xml:lang="en">
@using eContract.BusinessService.BusinessData.Service
@{
    var currentUser = (eContract.BusinessService.SystemManagement.Domain.UserDomain)eContract.Common.WebUtils.WebCaching.CurrentUserDomain;
}

<head>
    <meta charset="utf-8">
    <title>磐石系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/docs.css" rel="stylesheet" />

    <style>
            /* GLOBAL STYLES
                        -------------------------------------------------- */
            /* Padding below the footer and lighter body text */
            body {
                padding-bottom: 40px;
                color: #5a5a5a;
            }
            /* CUSTOMIZE THE NAVBAR
                    -------------------------------------------------- */

            /* Special class on .container surrounding .navbar, used for positioning it into place. */
            /*.navbar-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                margin-top: 20px;
                margin-bottom: -90px; 
            }

                .navbar-wrapper .navbar {
                }*/

            /* Remove border and change up box shadow for more contrast */
            .navbar .navbar-inner {
                border: 0;
                -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
                -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
                box-shadow: 0 2px 10px rgba(0,0,0,.25);
            }
            /* Downsize the brand/project name a bit */
            .navbar .brand {
                padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
                font-size: 16px;
                font-weight: bold;
                text-shadow: 0 -1px 0 rgba(0,191,255,0);
            }

            /* Navbar links: increase padding for taller navbar */
            .navbar .nav > li > a {
                padding: 15px 20px;
            }

            /* Offset the responsive button for proper vertical alignment */
            .navbar .btn-navbar {
                margin-top: 10px;
            }



            /* CUSTOMIZE THE CAROUSEL
                -------------------------------------------------- */

            /* Carousel base class */
            .carousel {
                margin-bottom: 60px;
            }

                .carousel .container {
                    position: relative;
                    z-index: 9;
                }

            .carousel-control {
                height: 80px;
                margin-top: 0;
                font-size: 120px;
                text-shadow: 0 1px 1px rgba(0,0,0,.4);
                background-color: transparent;
                border: 0;
                z-index: 10;
            }

            .carousel .item {
                height: 500px;
            }

            .carousel img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 300px;
            }

            .carousel-caption {
                background-color: transparent;
                position: static;
                max-width: 550px;
                padding: 0 20px;
                margin-top: 60px;
            }

                .carousel-caption h1,
                .carousel-caption .lead {
                    margin: 0;
                    line-height: 1.25;
                    color: #fff;
                    text-shadow: 0 1px 1px rgba(0,0,0,.4);
                }

                .carousel-caption .btn {
                    margin-top: 10px;
                }
            /* MARKETING CONTENT
            -------------------------------------------------- */

            /* Center align the text within the three columns below the carousel */
            .marketing .span4 {
                text-align: center;
            }

            .marketing h2 {
                font-weight: normal;
            }

            .marketing .span4 p {
                margin-left: 10px;
                margin-right: 10px;
            }


            /* Featurettes
            ------------------------- */

            .featurette-divider {
                margin: 20px 0; /* Space out the Bootstrap <hr> more */
            }

            .featurette {
                padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
                overflow: hidden; /* Vertically center images part 2: clear their floats. */
            }

            .featurette-image {
                margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
            }

                /* Give some space on the sides of the floated elements so text doesn't run right into it. */
                .featurette-image.pull-left {
                    margin-right: 40px;
                }

                .featurette-image.pull-right {
                    margin-left: 40px;
                }

            /* Thin out the marketing headings */
            .featurette-heading {
                font-size: 50px;
                font-weight: 300;
                line-height: 1;
                letter-spacing: -1px;
            }
            /* RESPONSIVE CSS
        -------------------------------------------------- */

            /*.container.navbar-wrapper {
                margin-bottom: 0;
                width: auto;
            }*/

            .navbar-inner {
                border-radius: 0;
                /*margin: -20px 0;*/
            }

            .carousel .item {
                height: 500px;
            }

            .carousel img {
                width: auto;
                height: 300px;
            }

            .featurette {
                height: auto;
                padding: 0;
            }

            /*.featurette-image.pull-left,*/
            .featurette-image.pull-right {
                display: block;
                float: none;
                max-width: 40%;
                max-height:40%;
                margin: 0 auto 20px;
            }
    </style>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/UI/bootstrap-2.3.2/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/UI/bootstrap-2.3.2/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/UI/bootstrap-2.3.2/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/UI/bootstrap-2.3.2/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/UI/bootstrap-2.3.2/docs/assets/ico/favicon.png">

    @RenderSection("header", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Project name</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <input class="span2" type="text" placeholder="Email">
                        <input class="span2" type="password" placeholder="Password">
                        <!--<button type="submit" class="btn" ><a href="Url.Content("~/shared/Login")">Sign in</a></button>-->
                        <button type="submit" class="btn"><a href="@Url.Content("~/account/Login")">Sign in</a></button>
                        <button type="submit" class="btn">@Html.ActionLink("注册", "Register","Account")</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- NAVBAR
    ================================================== -->
    @*<div class="navbar-wrapper">
        <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">磐石系统</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            @if (eContract.BusinessService.SystemManagement.Service.SystemService.UserService.CurrentUserDomain != null)
                            {
                                <li>
                                    <a href="@Url.Content("~/account/LogOff")" style="font-weight: normal;">
                                        <i class="fa fa-sign-out"></i> 退出
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a style="font-weight:normal;" data-toggle="modal" data-target="#modelLogin">
                                        登录
                                    </a>
                                </li>
                            }
                            <li>
                                <a style="font-weight:normal;">
                                    |
                                </a>
                            </li>
                            <li>
                                <a style="font-weight:normal;" data-toggle="modal" data-target="#modelLogin">
                                    注册
                                </a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->
    </div>*@
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="margin-top:10px;height:260px">
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/UI/bootstrap-2.3.2/docs/assets/img/examples/slide-01.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/UI/bootstrap-2.3.2/docs/assets/img/examples/slide-02.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-large btn-primary" href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/UI/bootstrap-2.3.2/docs/assets/img/examples/slide-03.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="span3">
                <img class="img-circle" src="~/UI/INSPINIA/img/a1.jpg"/>
                <h2>安全</h2>
                <p>我们为您提供全方位安全的账户保护.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span3">
                <img class="img-circle" src="~/UI/INSPINIA/img/a6.jpg" />
                <h2>灵活</h2>
                <p>更具您的实际情况提供灵活的产品.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span3">
                <img class="img-circle" src="~/UI/INSPINIA/img/a3.jpg" />
                <h2>稳定</h2>
                <p>最大限度的保证你的收益.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span3">
                <img class="img-circle" src="~/UI/INSPINIA/img/a4.jpg" />
                <h2>可靠</h2>
                <p>这个不知道写什么了.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" style="background-color:cyan">
                   信息
                </div>
                <div class="span10" style="background-color:deepskyblue">
                    还没有想好这边放什么
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row-fluid">
                <div class="span2" style="background-color:deepskyblue"  rowspan="2">
                    123
                </div>
                <div class="span10" >
                    <div class="row-fluid">
                        <div class="span3" >
                            <span style="font-size: 20px;color:red">8.50</span>%<br>
                            <span style="color: #999999;line-height: 200%;">历史平均年化利率</span>
                        </div>
                        <div class="span3" >
                            <span style="font-size: 20px;">180</span>天<br>
                            <span style="color: #999999;line-height: 200%;">借贷期限</span>

                        </div>
                        <div class="span3" >
                            <span style="font-size: 20px;">1000元</span><br>
                            <span style="color: #999999;line-height: 200%;">投资起点</span>
                        </div>
                        <div class="span3" >
                            <a class="btn btn-large  btn-primary" type="button" href="@Url.Content("~/LUBR/ProductDetails")">了解详情</a>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:20px">
                        <div class="span3">
                            <span style="font-size: 20px;color:red">8.50</span>%<br>
                            <span style="color: #999999;line-height: 200%;">历史平均年化利率</span>
                        </div>
                        <div class="span3">
                            <span style="font-size: 20px;">180</span>天<br>
                            <span style="color: #999999;line-height: 200%;">借贷期限</span>

                        </div>
                        <div class="span3">
                            <span style="font-size: 20px;">1000元</span><br>
                            <span style="color: #999999;line-height: 200%;">投资起点</span>
                        </div>
                        <div class="span3">
                            <a class="btn btn-large  btn-primary" type="button" href="@Url.Content("~/LUBR/ProductDetails")">了解详情</a>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:20px">
                        <div class="span3">
                            <span style="font-size: 20px;color:red">8.50</span>%<br>
                            <span style="color: #999999;line-height: 200%;">历史平均年化利率</span>
                        </div>
                        <div class="span3">
                            <span style="font-size: 20px;">180</span>天<br>
                            <span style="color: #999999;line-height: 200%;">借贷期限</span>

                        </div>
                        <div class="span3">
                            <span style="font-size: 20px;">1000元</span><br>
                            <span style="color: #999999;line-height: 200%;">投资起点</span>
                        </div>
                        <div class="span3">
                            <a class="btn btn-large  btn-primary" type="button" href="@Url.Content("~/LUBR/ProductDetails")">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    合作伙伴
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/1.png" />
                </div>
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/10.png" />
                </div>
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/3.png" />
                </div>
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/2.png" />
                </div>
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/4.png" />
                </div>
                <div class="span2">
                    <img src="~/UI/INSPINIA/img/9.png" />
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">回顶</a></p>
            <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div><!-- /.container -->
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/jquery.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-transition.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-alert.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-modal.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-tab.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-popover.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-button.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="~/UI/bootstrap-2.3.2/docs/assets/js/holder/holder.js"></script>
</body>

@RenderSection("footer", false)

</html>
@*<script type="text/javascript">

    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)

    var BaseUrl = "@Url.Content("~/")";
    var SkinUrl = "@eContract.Common.ConfigHelper.UIPATH"
    var count = 0;
    function hideModal() {
        $("#modalContent").modal("hide");
    }
    $("#modalContent").on("hidden.bs.modal", function () {
        if (count != 1) {
            $("#modalContent").modal("hide");
            $(this).removeData("bs.modal");
            $(".modal-backdrop").remove();
            $(this).find("#parentModalContent").children().remove();
            count = 0;
        }
    });
    $(".nav-second-level").find("li").click(function () {
        $(".nav-second-level").find("li").removeClass("active");
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
    });
</script>*@
