@{
    ViewBag.Title = "Index";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@using eContract.Common.Schema
@model eContract.Common.LigerGrid

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-header">
            <div class="ibox-content c-list-header">
                <form id="sel_form">
                    <div class="row">
                        <div class="col-sm-4 label-form-4">
                            <label class="control-label" for="sel_role_name">Role Name：</label>
                            <div class="form-group">
                                <input type="text" id="sel_role_name" name="role_name" value="" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" id="sel_btn" class="btn btn-primary">Search</button>
                            <a data-toggle="modal" data-target="#modalContent" href="@Url.Action("Edit")" class="btn btn-primary">New</a>
                            <button type="button" id="del_btn" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-body">
           
            @RenderPage("_List.cshtml")
        </div>
    </div>
</div>
@*@section footer{*@
    <script type="text/javascript">

        $(document)
           .ready(function () {
               jqGrid.initGrid($("#functionRoleGrid"),
               {
                   url: "@Url.Action("Index")",
                   sortname: "role_id",
                   multiselect: true,
                   colNames: ['', 'Role Name', 'Role Description', 'Action'],
                   colModel: [
                       { name: 'role_id', index: 'role_id', hidden: true, search: true },
                       //{ name: 'role_type_name', index: 'role_type_name', search: true },
                       { name: 'role_name', index: 'role_name', search: true },
                       { name: 'remark', index: 'remark', search: true },
                       {
                           name: '',
                           index: '',
                           sortable: false,
                           formatter: function (cellvalue, options, row) {

                               return "<div class=\"c-table-cz\">"
                                + '<a data-toggle="modal" data-target="#modalContent" href="@Url.Action("edit")?roleId=' + row.role_id + '">Edit</a>&nbsp;'
                                + '<a data-toggle="modal" data-target="#modalContent"  href="@Url.Action("Permissions")?roleId=' + row.role_id + '">Permission</a>&nbsp;'
                                + " </div>";
                           }
                       }
                   ]
               });

               $("#sel_btn")
                   .click(function () {
                       jqGrid.gridSearch($("#sel_form"), "@Url.Action("Index")");
                   });

               $("#del_btn").click(function () {
                   jqGrid.gridDelete({
                       url: "@Url.Action("Delete")",
                       KeyName: 'role_id'
                   });

               });
           });

        function Permissions() {
            jForm.GridPermissions(g, {
                url: "@Url.Action("Permissions")",
                KeyName: 'role_id'
            });
        }

        function qExport() {
            var data = {};
            $("#gridSearch").find("input,select").each(function () {
                data[$(this).attr("name")] = $(this).val();
            });
            jForm.Ajax({
                url: "@Url.Action("Export")",
                data: data,
                success: function (data) {
                    $("#Export")[0].click();
                }
            });
        }

    </script>
@*}*@