@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@model eContract.Common.Entity.SecLogErrorEntity
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="wrapper wrapper-content layout-main-edit">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content c-edit-wrap">
                    <form method="post" class="form-horizontal" id="errorLogForm" @*action="@Url.Action("Edit")" onsubmit="return onSubmit();"*@>
                        @Html.XTextBoxFor(m => m.MachineName, new UIValidation { DisplayName = "机器名", required = true }, new { display = Model.MachineName })
                        @Html.XTextBoxFor(m => m.Ip, new UIValidation { DisplayName = "IP", required = true }, new { display = Model.Ip })
                        @Html.XTextBoxFor(m => m.LogTime, new UIValidation { DisplayName = "记录时间", required = true }, new { display = Model.LogTime })
                        @Html.XTextArea("Message", Model.Message, new UIValidation { DisplayName = "错误消息" }, new { rows = 5 })
                        @Html.XTextArea("StackTrace", Model.StackTrace, new UIValidation { DisplayName = "堆栈信息" }, new { rows = 5 })

                        @Html.XButtonList(
                        new[]{/*new XButton{Id="btnSave",DisplayName="Save",Icon="icon-save", LoadingText="Saving...."},*/

                              new XButton{Id="btnBack",DisplayName="Back to list",Icon="icon-back",onClick="hideModal();", LoadingText="Returning....",xButtonType=XButtonType.Button}
                               })
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section footer{*@
    <script type="text/javascript">


        $(function () {
            jForm.xValidate($("#errorLogForm"), {});
            if ("@ViewBag.strError" != "") {
                jNotify.showError("@ViewBag.strError");
            }
        })

        function onSubmit() {
            try {
                return $("#errorLogForm").valid();
            } catch (e) {

            }
            return false;
        }
    </script>
@*}*@