@model eContract.Common.Entity.CasUserEntity
@{
    Layout = null;
    string wechatState = eContract.Common.ConfigHelper.GetSetString("System.LocalDomain") + "/account/login";
    wechatState = ComixSDK.EDI.Utils.EncryptionService.EncryptDES(wechatState, eContract.Common.ConfigHelper.GetSetString("EncryptionKey"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>磐石系统</title>
    <link rel="shortcut icon" href="~/UI/bootstrap-2.3.2/docs/assets/ico/favicon.png">
    @*@RenderPage("/Views/Shared/_PublicCSSPartial.cshtml")*@
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/docs.css" rel="stylesheet" />
</head>

<body style="background-color:#f9fafc">
    <div class="navbar navbar-fixed-top navbar-without-shadow" style="background-color:orangered">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a class="brand" href="@Url.Content("~/home/index")">磐石 | </a></li>
                        <li><a class="">忘记密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:120px">
        <div class="row-fluid">
            <div class="span5 text-right">
                <img style="width:500px" src="~/UI/INSPINIA/img/chengshi.jpg" />
            </div>
            <div class="span5" style="background-color:white">
                <form class="form-horizontal" method="post" style="margin-top:40px" onsubmit="return verify()">
                    <input type="hidden" id="AUTHUserId" name="AUTHUserId" value="@ViewBag.AUTHUserId">
                    <!-- 错误提醒 -->
                    @if (!string.IsNullOrEmpty(@ViewBag.strError))
                    {
                        <dl class="hint-msg clearfix error">
                            <dt class="fa"></dt>
                            <dd>@ViewBag.strError</dd>
                        </dl>
                    }
                    <div class="form-group">
                        <label class="control-label" for="">用户名称</label>
                        <div class="controls">
                            <input type="text" name="UserName" placeholder="请输入阁下的用户名" required="" style="width:220px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="">手机号</label>
                        <div class="controls">
                            <input type="text" name="PhoneNumber" placeholder="请输入您注册用的手机号" required="" style="width:220px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="">验证码</label>
                        <div class="controls">
                            <input class="input-medium" type="text" name="verificationCode" placeholder="填写手机验证码" required="" style="width:130px">
                            <button class="btn btn-small btn-primary captchaBtn" id="sentSMSCode" type="button">获取验证码</button>
                            <!--<button class="btn btn-small btn-primary captchaBtn" data-loading-text="正在发送中···" id="sentCode" type="button">获取验证码</button>-->
                            <div class="alert fade in" id="alertAAA" hidden="">
                                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                                <strong>提示</strong> 请您检查输入的手机号是否有误，并再次尝试！
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="">新密码</label>
                        <div class="controls">
                            <input type="password" name="Password" placeholder="请输入您的新密码" required="" style="width:220px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="">再次输入</label>
                        <div class="controls">
                            <input type="password" name="ConfirmPassword" placeholder="请再次输入您的新密码" required="" style="width:220px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for=""></label>
                        <div class="controls">
                            <button id="submit" type="submit" class="btn btn-block btn-danger" style="width:220px">重新设定登录密码</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
@RenderPage("/Views/Shared/_PublicJsPartial.cshtml")
</html>

<script type="text/javascript">
        $(document).ready(function () {
            $("#sentSMSCode").click(function () {
                alert(111);
                var phone = $("input[name=PhoneNumber]").val();
                var username = $("input[name=UserName]").val();
                if (checkPhone(phone) && username != null && username != "") {
                    $("div[id=alertAAA]").hide();
                    $.ajax({
                        url: "/Account/SentSMSCode",
                        method: "post",
                        dataType: "json",
                        data: {
                            phoneNumber: phone,
                            username: username,
                            flagstatus:2
                        },
                        success: function (result) {
                            var obj = JSON.parse(result);
                            @*alert("此次发送短信返回代码为："+obj.statusCode);*@
                            if (obj.statusCode != "000000") {
                                alert("发送失败,请重新尝试！");
                            }
                        else if (obj.statusCode == "1") {
                            alert("抱歉，验证码有效期为20分钟，请勿频繁发送！");
                        }
                        else{ alert("发送成功");}
                    }, error: function (result) {
                        alert("发送失败"+result);
                    }
                })
                }
            else {
                    $("div[id=alertAAA]").show();
                }

            });
        });
    function checkPhone(phoneNumber) {
        var phone = phoneNumber;
        if (!(/^1[34578]\d{9}$/.test(phone))) {
            return false;
        } else {
            return true;
        }
    }
    function checkEmail(emailAddress) {
        var email = /^[A-Za-z0-9_-\u4e00-\u9fa5]+@@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        if (!(email.test(emailAddress))) {
            return false;
        } else {
            return true;
        }
    }
    $(function () {
        $(".captchaBtn").html('获取验证码').on("click", function () {
            var that = $(this);
            var seconds = 60;
            that.attr("disabled", true);
            that.html(seconds + '秒');
            let promise = new Promise((resolve, reject) => {
                let setTimer = setInterval(
                  () => {
                      seconds -= 1;
                      // console.info('倒计时:' + seconds);
                      that.html(seconds + '秒');
                      if (seconds <= 0) {
                          that.html('获取验证码');
                          resolve(setTimer)
                      }
                  }
                  , 1000)
            })
            promise.then((setTimer) => {
                // console.info('清除');
                clearInterval(setTimer);
                that.attr("disabled", false);
            })

        })
    });
        function verify() {
            //alert("234");
            //return true;
        }
</script>

