@model eContract.Web.Areas.LUBR.Models.RegisterViewModel

@{
    ViewBag.Title = "注册";
}
@*@{
        Layout = null;
    }*@
@using eContract.BusinessService.BusinessData.Service
@{
    var currentUser = (eContract.BusinessService.SystemManagement.Domain.UserDomain)eContract.Common.WebUtils.WebCaching.CurrentUserDomain;

}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xml:lang="en">
<head>
    <meta charset="utf-8">
    <title>磐石系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/css/docs.css" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-popover.js" rel="stylesheet" />
    <link href="~/UI/bootstrap-2.3.2/docs/assets/js/bootstrap-button.js" rel="stylesheet" />

</head>

<body style="background-color:#f9fafc">
    <div class="navbar navbar-fixed-top navbar-without-shadow" style="background-color:orangered">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a class="brand" href="@Url.Content("~/home/index")">磐石 | </a></li>
                        <li><a class="">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:120px">
        <div class="row-fluid">

            <div class="span7" style="background-color:white">
                <form class="form-horizontal" method="post" style="margin-top:40px">
                    <input type="hidden" id="AUTHUserId" name="AUTHUserId" value="@ViewBag.AUTHUserId">
                    <!-- 错误提醒 -->
                    @if (!string.IsNullOrEmpty(@ViewBag.strError))
                    {
                        <dl class="hint-msg clearfix error">
                            <dt class="fa"></dt>
                            <dd>@ViewBag.strError</dd>
                        </dl>
                    }
                    <div class="form-group">
                        @*<img src="/UI/Css/default/images/common/login-user.png" class="login-user" />*@
                        <label class="control-label" for="">手机号</label>
                        <div class="controls">
                            @if (Model == null)
                            {
                                <input class="input-large" type="text" name="PhoneNumber" placeholder="手机号" required="" style="width:300px">
                            }
                            else
                            {
                                <input class="input-large" type="text" name="PhoneNumber" placeholder="手机号" required=""  value="@Model.PhoneNumber"style="width:300px">
                            } 
                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <label class="control-label" for="">用户名</label>
                        <div class="controls">
                            @if (Model == null)
                            {
                                <input class="input-large" type="text" name="UserName" placeholder="用户名称" required="" style="width:300px">
                            }
                            else
                            {
                                <input class="input-large" type="text" name="UserName" placeholder="用户名称" required="" value="@Model.UserName" style="width:300px">
                            }                         
                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <label class="control-label" for="">电子邮箱</label>
                        <div class="controls">
                            @if (Model == null)
                            {
                                <input class="input-large" type="text" name="Email" placeholder="电子邮箱" required="" style="width:300px">
                            }
                            else
                            {
                                <input class="input-large" type="text" name="Email" placeholder="电子邮箱" required="" value="@Model.Email" style="width:300px">
                            } 
                           
                            <button class="btn btn-small btn-primary" data-loading-text="正在发送中···" id="sentCode" type="button">发送验证码</button>
                            <div class="alert fade in" id="alertAAA" hidden="">
                                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                                <strong>提示</strong> 请您检查输入的用户名、手机号以及邮箱地址是否有误，并再次尝试！
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <label class="control-label" for="">验证码</label>
                        <div class="controls">

                            <input class="input-large" type="text" name="Email" placeholder="发送到您的电子邮箱验证码" required="" style="width:300px">

                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <label class="control-label" for="">登陆密码</label>
                        <div class="controls">

                            <input class="input-large" type="password" name="Password" placeholder="登陆密码" required="" style="width:300px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <label class="control-label" for="">确认密码</label>
                        <div class="controls">

                            <input class="input-large" type="password" name="ConfirmPassword" placeholder="确认密码" required="" style="width:300px">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox"> 我已阅读并同意
                            </label>
                            <label><a style="color:gray" href="#myModal" data-toggle="modal">《磐石诚选平台注册服务协议》</a></label>
                            <label><a style="color:gray" href="#myModal1" data-toggle="modal">《风险提示函》</a><a style="color:gray" href="#myModal2" data-toggle="modal">《投资申明》</a></label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for=""></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-block btn-danger input-large" style="width:300px">注册</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="span5 text-left">
                <div class="controls">
                    <label>已有账户？<a href="@Url.Content("~/Account/Login")">立即登录</a></label>
                </div>
                <img src="~/UI/INSPINIA/img/p6.jpg" />
            </div>
        </div>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">磐石诚选平台注册服务协议</h3>
        </div>
        <div class="modal-body">
            <p>
                梧桐诚选平台用户注册协议
                梧桐诚选平台（网址：www.91wutong.com）由[上海盛桐信息技术有限公司]负责运营。梧桐诚选依据本协议的规定为梧桐诚选注册会员（以下简称“注册会员”）提供服务，本协议在注册会员和梧桐诚选间具有合同上的法律效力。
                第一章 梧桐诚选服务
                第一条    为了保障注册会员的权益，注册会员在自愿注册使用梧桐诚选服务前，必须仔细阅读并充分理解知悉本服务协议所有条款。一经注册或使用梧桐诚选服务即视为对本服务协议的充分理解和接受，如有违反而导致任何法律后果的发生，注册会员将以自己的名义独立承担相应的法律责任。
                第二条    梧桐诚选服务是由[上海盛桐信息技术有限公司]通过梧桐诚选平台（网址：www.91wutong.com）向注册会员提供服务，具体服务内容主要包括：交易信息发布、提供交易管理服务、提供客户服务等，具体详情以梧桐诚选当时提供的服务内容以及注册会员与[上海盛桐信息技术有限公司]签署的相关协议约定为准。
                第三条    梧桐诚选服务内容主要包括发布借贷项目信息，根据注册会员需求提供交易管理服务、提供客户服务、签订合同、资金充值、取现、代收、代付、回购等，具体详情以梧桐诚选平台当时提供的服务内容以及注册会员与[上海盛桐信息技术有限公司]签署的相关协议约定为准。梧桐诚选服务的部分内容需要注册会员根据梧桐诚选要求完成安全认证，未进行完整的安全认证之前，注册会员将无法使用部分梧桐诚选服务（包括但不限于充值、投资、转让、提现）。因未能完成认证而无法享受梧桐诚选服务造成的损失，梧桐诚选不承担任何责任。
                第四条    梧桐诚选将为注册会员提供信息发布服务。梧桐诚选向注册会员提供的各种信息及资料仅为参考，注册会员应依其独立判断做出决策。注册会员据此进行交易的，应根据网站提示签订相关合同，由此产生的风险由注册会员自行承担，注册会员无权据此向梧桐诚选提出任何法律主张。在交易过程中，注册会员之间发生的纠纷，由纠纷各方自行解决，梧桐诚选不承担任何责任。
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">风险提示函</h3>
        </div>
        <div class="modal-body">
            <p>
                风险提示函

                特别提示：梧桐诚选平台展示的借贷项目有投资风险，出借人应当充分认识投资风险，谨慎投资。


                以下风险提示内容，请出借人认真详细阅读，在充分了解并清楚知晓梧桐诚选平台所展示的借贷项目蕴含风险的基础上，通过自身判断，自主参与交易，并自愿承担相关风险：

                1.信用风险：在资金出借期间，若借款人短期或者长期丧失还款能力（包括但不限于借款人收入情况、财产状况发生变化、人身出现意外、发生疾病、死亡等情况）或者借款人的还款意愿发生变化时，出借人可能损失部分或全部出借资金和收益；

                2.政策风险：梧桐诚选平台所展示的借贷项目是针对当前的相关法律法规和政策设计的。如国家政策、法律法规及其他因素等发生变化，可能影响业务受理、投资、偿还等正常进行；

                3.流动性风险：资金成功出借后，出借人可能面临无法提前赎回，或未到期转让不成功的风险；

                4.其它风险：由于自然灾害、战争等不可抗力因素的出现，将严重影响金融市场的正常运行，从而导致出借资金收益降低或损失，甚至影响业务受理、投资、偿还等的正常进行，进而影响资金收益安全。


                以上《风险提示函》本人已阅读并完全理解，愿意承担投资过程中的各种风险。
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">投资申明</h3>
        </div>
        <div class="modal-body">
            <p>
                投资声明

                本人自愿申报成为梧桐诚选平台借贷项目出借人，并申明如下：

                本人申明在投资梧桐诚选平台发布的借贷项目之前，本人符合下列任意条件之一，且能够识别、判断和承担资金出借的投资风险：

                1.拥有至少10万元可用于投资的个人资产，必要时需提供财产证明：包括但不限于银行开具的存款证明、近三个月内存折或存单复印件、有价证券证明、一年内的有价证券资产证明（上述材料提供时需相关机构加盖印章）。

                2.最近三年内每年个人收入超过20万元人民币；最近三年内每年夫妻合计收入超过30万元人民币。本人愿意根据相关规定提供所需的财务证明。

                本人申明在进行投资行为前，认真阅读并理解所有产品文件，并自愿依法承担相应的投资风险。


                本人申明成为借贷项目出借人后，对交易涉及的事项保密，并自愿依法缴纳投资活动所产生的各项税费。
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
</body>
@RenderPage("/Views/Shared/_PublicJsPartial.cshtml")
</html>
@section footer{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sentCode").click(function () {
                var phone = $("input[name=PhoneNumber]").val();
                var username = $("input[name=UserName]").val();
                var emailAddress = $("input[name=Email]").val();
                if (phone != null && phone != "" && username != null && username != "" && emailAddress != null && emailAddress != "") {
                    $("div[id=alertAAA]").hide();
                    $.ajax({
                        url: "/Account/SentVerificationCode",
                        method: "post",
                        dataType: "json",
                        data: {
                            phoneNumber: phone,
                            username: username,
                            emailAddress: emailAddress
                        },
                        @*success: function (result) {
                        jqGrid.gridSearch($("#sel_form"), "@Url.Action("PREdit")" + "?id=" + "@ViewBag.ContractId.ToString()");
                    },*@ error: function (result) {

                        }
                    })
                }
                else {
                    $("div[id=alertAAA]").show();
                }
            });
        });
    </script>
}