
@{
    ViewBag.Title = "合同申请页";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using eContract.Common.Schema
@model eContract.Common.LigerGrid

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-header">
            <div class="ibox-content c-list-header">
                <form id="sel_form">
                    <div class="row">
                        <div class="col-sm-3 label-form-4">
                            <label class="control-label" for="sel_FERRERO_ENTITY">Ferrero Party：</label>
                            <div class="form-group">
                                <input type="text" id="sel_FERRERO_ENTITY" name="FERRERO_ENTITY" value="" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 label-form-4">
                            <label class="control-label" for="sel_CONTRACT_TYPE_NAME">Contract Type：</label>
                            <div class="form-group">
                                <input type="text" id="sel_CONTRACT_TYPE_NAME" name="CONTRACT_TYPE_NAME " value="" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 label-form-4">
                            <label class="control-label" for="sel_CONTRACT_NAME">Contract Name：</label>
                            <div class="form-group">
                                <input type="text" id="sel_CONTRACT_NAME" name="CONTRACT_NAME " value="" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 label-form-4">
                            <label class="control-label" for="sel_CREATE_TIME">Submission Date：</label>
                            <div class="form-group">
                                <input type="text" id="sel_CREATE_TIME" name="CREATE_TIME " value="" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" id="sel_btn" class="btn btn-primary">Search</button>
                            <a href="@Url.Action("Edit")" class="btn btn-primary">New</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-body">
            @RenderPage("_List.cshtml")
        </div>
    </div>
</div>
@section footer{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                jqGrid.initGrid($("#ApplayContractGrid"),
                {
                    url: "@Url.Action("Index")",
                    sortname: "LAST_MODIFIED_TIME",
                    sortorder: "desc",
                    //multiselect: false,
                    colNames: ['Action', 'Ferrero Party', 'Contract Type', 'Contract Name', 'Status', 'Submission Date'],
                    colModel: [
                        {
                            name: '',
                            index: '',                           
                            sortable: false,
                            width: 80,
                            formatter: function (cellvalue, options, row) {
                                var html = "<div class=\"c-table-cz\">" +
                                    '<a href="@Url.Action("ItemDetails")?id=' +
                                    row.CONTRACT_ID +
                                    '">Open</a>&nbsp;';
                                if (row.STATUS == "4") {
                                    html += '<a href="@Url.Action("edit")?id=' +
                                    row.CONTRACT_ID +
                                    '">Edit</a>&nbsp;'
                                }
                                html += " </div>";
                                return html;
                            }
                        },
                        { name: 'FERRERO_ENTITY', index: 'FERRERO_ENTITY', search: true, width: 220 },
                        { name: 'CONTRACT_TYPE_NAME', index: 'CONTRACT_TYPE_NAME ', search: true },
                        {
                            name: '', index: ' ', search: true,
                            formatter: function (cellvalue, options, row) {
                                var contractNameHtml = "";
                                if (row.IS_TEMPLATE_CONTRACT) {
                                    contractNameHtml = row.TEMPLATE_NAME;
                                } else {
                                    contractNameHtml = row.CONTRACT_NAME;
                                }
                                return contractNameHtml;
                            }
                        },
                        {
                            name: 'STATUS', index: 'STATUS ', search: true,
                            formatter: function (cellvalue, options, row) {
                                var statusHtml = "";
                                switch (cellvalue) {
                                    case 1:
                                        statusHtml = "Draft";
                                        break;
                                    case 2:
                                        statusHtml = "In review process";
                                        break;
                                    case 3:
                                        statusHtml = "Approved";
                                        break;
                                    case 4:
                                        statusHtml = "Rejected";
                                        break;
                                    case 5:
                                        statusHtml = "Completed";
                                        break;
                                    case 6:
                                        statusHtml = "Closed";
                                        break;
                                    case 7:
                                        statusHtml = "Terminated";
                                        break;
                                    case 8:
                                        statusHtml = "In review process";
                                        break;
                                    default:
                                        statusHtml = "异常状态";
                                }
                                return statusHtml;
                            }
                        },
                        {
                            name: 'APPLY_DATE', index: 'APPLY_DATE',
                            formatter: function (cellvalue, options, row) {
                                if (cellvalue != null && cellvalue != "") {
                                    var _date = eval('new ' + (cellvalue.replace(/\//g, '')));
                                    return _date.format("yyyy-MM-dd HH:mm:ss")
                                }
                                else {
                                    return "";
                                }
                            }
                        }
                    ]
                });

                $("#sel_btn")
                    .click(function () {
                        jqGrid.gridSearch($("#sel_form"), "@Url.Action("Index")");
                    });
            });

    </script>
}
