@{
    ViewBag.Title = "ManagerViewList";
    Layout = null;
    string userCode = (string)ViewBag.UserCode;
    string userName = (string)ViewBag.UserName;
}
@using eContract.Common.Schema
@model eContract.Common.LigerGrid
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content c-edit-wrap">
                <form class="form-horizontal">
                    @Html.XTextBox("User_Code", xInputType.text, userCode, new UIValidation { DisplayName = "员工编号", required = false, disabled = true }, new { display = userCode })
                    @Html.XTextBox("User_Name", xInputType.text, userName, new UIValidation { DisplayName = "员工姓名", required = false, disabled = true }, new { display = userName })
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins layout-list-body">
            @RenderPage("_ListManager.cshtml")
        </div>
    </div>
</div>

<div class="ibox-content c-edit-wrap">
    <form class="form-horizontal">
        @Html.Label("", "备注：领导列表不包含部门总监", new { style = "color:red" })
        @Html.XButtonList(new[] { new XButton { Id = "btnBack", DisplayName = "Back to list", Icon = "icon-back", LoadingText = "Returning....", xButtonType = XButtonType.Button,onClick="hideModal();" } })
    </form>
</div>
    <script type="text/javascript">
        $(document)
           .ready(function () {
               var selData = [];
               jqGrid.initGrid($("#managerGrid"),
               {
                   url: "@Url.Action("ManagerViewList")?id=@ViewBag.UserId",
                   sortname: "last_modified_time",
                   multiselect: false,
                   shrinkToFit: false,
                   pager: "#pager-content1", 
                   gridComplete: function () {
                       var width = $('.jqGrid_wrapper').width()*0.8;
                       $("#managerGrid").setGridWidth(width, true);
                   },
                   colNames: ['领导ID', '领导编号', '领导姓名', '更新时间'],
                   colModel: [
                       { name: 'USER_ID', index: 'USER_ID', hidden: true, search: true },
                       { name: 'USER_CODE', index: 'USER_CODE',width:100, search: true },
                       { name: 'ENGLISH_NAME', index: 'ENGLISH_NAME', width: 150, search: true },
                       {
                           name: 'LAST_MODIFIED_TIME',
                           index: 'LAST_MODIFIED_TIME',
                           width: 150,
                           formatter: function (cellvalue, options, row) {
                               if (cellvalue != null && cellvalue != "") {
                                   var _date = eval('new ' + (cellvalue.replace(/\//g, '')));
                                   return _date.format("yyyy-MM-dd HH:mm:ss")
                               }
                               else {
                                   return "";
                               }
                           },
                           search: true
                       }
                   ]
               });

               $("#sel_btn")
                   .click(function () {
                       jqGrid.gridSearch($("#sel_form"), "@Url.Action("ManagerViewList")?id=@ViewBag.UserId");
                   });

           });
    </script>

